{
    "extends": "arenanet",
    "env": {
        "node": true
    },
    "parserOptions":{
        "sourceType": "module"
    },
    "rules": {
        "align-assignments/align-assignments" : 0
    }
}