{
    "extends": "arenanet",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "overrides": [
        {
            "files": [
                "./test/**/*.*"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}