# assets
assets/

# dependencies
node_modules/

# logs
npm-debug.log
debug.log

# npm publish
.publishrc
.npmignore

# tests
test/

# gitignore
.gitignore
.github

#eslint
.eslintrc
.eslintignore

# travis
.travis.yml